@charset "UTF-8";
body{
	/*background:#e8e0d0 url("../img/bg_header.gif") no-repeat 0 0;*/
	background: url("../img/images/bg_repeat.gif") repeat-x 0 0, url("../img/gardening.png") no-repeat center 29px;
	background-color: #e8e0d0;
}
/*--- body ---*/
div#wrapper{
	width: 960px;
	margin: 0 auto;
}
/*--- wrapper ---*/
#wrapper #header{
	height: 256px;
	padding-bottom: 20px;
}
#wrapper #header .header-upper{
	height: 150px;
	padding: 71px 320px 0 323px;
}
#wrapper #header .header-upper ul{

}
#wrapper #header .header-under{
	height: 50px;
}
#wrapper #header .header-under ul{
	padding: 15px 150px;
}
#wrapper #header .header-under ul li{
	float: left;
	margin-right: 10px;
	height: 20px;
	border: 1px solid #fff;
	box-shadow: 1px 1px 3px #c2b79f;
	/*box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.75);*/
}
#wrapper #header .header-under ul li#home{
	width: 60px;
	height: 30px;
	background-color: #1e3347;
	border: none;
}
#wrapper #header .header-under ul li#organic{
	width: 145px;
	background-color: #faf4e8;
}
#wrapper #header .header-under ul li#organic a:hover{
	background-color: grey;
}
#wrapper #header .header-under ul li#gardening{
	width: 215px;
	background-color: #faf4e8;
}
#wrapper #header .header-under ul li#blog{
	width: 40px;
	background-color: #faf4e8;
}
#wrapper #header .header-under ul li#about{
	width: 60px;
	background-color: #faf4e8;
}
#wrapper #header .header-under ul li#contact{
	width: 60px;
	background-color: #faf4e8;
}
#wrapper #header .header-under ul li a p{
	color: #164773;
	text-align: center;

}
#wrapper #header .header-under ul li#home a p{
	color: white;
}
/* ------------------------------------------------------------------
	1-1. Header styles
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
	1-2. Navi styles
-------------------------------------------------------------------*/

/* ------------------------------------------------------------------
	1-3. Side styles
-------------------------------------------------------------------*/
#wrapper #container{
	display: inline-block;
	background-color: #f7f0e5;
	width: 960px;
	height: 709px;
	margin-bottom: 33px;
}
#wrapper #container #main{
	width: 926px;
	margin: 0 auto;
}
#wrapper #container #main .block_1{
	float: left;
	width: 320px;
}
#wrapper #container #main .block_2{
	float: left;
	width: 321px;
}
#wrapper #container #main .block_3{
	float: left;
	width: 285px;
}
/* ------------------------------------------------------------------
	1-4. Main styles
-------------------------------------------------------------------*/
#wrapper #footer{
	height: 319px;
}
#wrapper #footer .footer-upper{
	width: 926px;
	margin: 0 auto;
}
#wrapper #footer .footer-upper .block_4{
	width: 220px;
	height: 295px;
	float: left;
	margin-right: 20px;
}
#wrapper #footer .footer-upper .block_5{
	width: 220px;
	height: 295px;
	float: left;
	margin-right: 20px;
}
#wrapper #footer .footer-upper .block_6{
	width: 220px;
	height: 295px;
	float: left;
	margin-right: 20px;
}
#wrapper #footer .footer-upper .block_7{
	width: 206px;
	height: 295px;
	float: left;
}
#wrapper #footer .footer-upper .block_4 .books{
	background-color: #fdf7ee;
	height: 270px;
}
#wrapper #footer .footer-upper .block_4 .books p{
	padding-bottom: 22px;
}
#wrapper #footer .footer-upper .block_5 .gallery{
	background-color: #fdf7ee;
	height: 270px;
}
#wrapper #footer .footer-upper .block_6 .suppliers{
	background-color: #fdf7ee;
	height: 270px;
}
#wrapper #footer .footer-upper .block_7 ul{
	background-color: #fdf7ee;
	height: 270px;
}
.home-page .footer-under{
	background: url("../img/images/footer_repeat.gif") repeat-x 0 0;
	height: 103px;
}
/* ------------------------------------------------------------------
	1-5. Footer styles
-------------------------------------------------------------------*/
